.upload-file-container {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.upload-left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-file-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bolder;
  color: #2f3468;
}

.upload-left-section button {
  cursor: pointer;
  padding: 10px 40px;
  font-size: 15px;
  background: #4453f9;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  width: max-content;
  border: none;
  height: max-content;
  letter-spacing: 1.5px;
}

.upload-left-section button:hover {
  background: #3743cc;
}

.drag-area {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: calc(400px + 60px);
  height: calc(300px + 60px);
  display: grid;
  place-items: center;
  margin-bottom: 20px;
}

.file-drop img {
  width: 70px;
  margin-bottom: 20px;
}

.file-drop h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.file-drop span {
  margin-bottom: 20px;
  position: relative;
  color: rgb(128, 136, 137);
  letter-spacing: 1px;
}

.file-drop span::before {
  content: "";
  position: absolute;
  transform: translate(-110%, 10px);
  width: 40px;
  height: 1px;
  background: rgb(128, 136, 137);
}

.file-drop span::after {
  content: "";
  position: absolute;
  transform: translate(10%, 10px);
  width: 40px;
  height: 1px;
  background: rgb(128, 136, 137);
}

.file-drop .upload-btn {
  cursor: pointer;
  padding: 10px 15px;
  background: #4453f9;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 700;
  width: max-content;
  height: max-content;
  letter-spacing: 1.5px;
}

.file-drop .upload-btn:hover {
  background: #3743cc;
}

.file-drop {
  /* relatively position the container bc the contents are absolute */
  position: relative;
  height: 300px;
  width: 400px;
  border-radius: 20px;
  background: #f3f6fd;
  border: 2px dashed #ffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  stroke-dasharray: "20";
  stroke-width: "10px";
}

.file-drop > .file-drop-target {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.file-drop > .file-drop-target.file-drop-dragging-over-frame {
  border: none;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 50;
  opacity: 1;
  color: rgb(177, 129, 129);
}

.file-drop > .file-drop-target.file-drop-dragging-over-target {
  color: #ff6e40;
  box-shadow: 0 0 13px 3px #ff6e40;
}

.upload-right-section {
  /* border: 1px solid red; */
}

.upload-right-section .file-view-section {
  width: 400px;
  height: 420px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding-right: 1px;
  display: flex;
  align-items: center;
}

.upload-right-section .file-view-section .file-container {
  overflow: auto;
  width: calc(100% - 4px);
  height: calc(100% - 30px);
  padding: 10px 20px;
}

.file-container::-webkit-scrollbar {
  width: 5px;
}

.file-container::-webkit-scrollbar-thumb {
  background: rgb(124, 185, 197);
  border-radius: 50px;
}

.file-container::-webkit-scrollbar-track {
  background: rgb(233, 231, 231);
  border-radius: 50px;
}

.upload-right-section .file {
  background: #ebf5fc;
  font-size: 30px;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  padding: 15px 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  overflow-wrap: break-word;
}

.upload-right-section .file h6 {
  font-size: 18px;
  width: calc(100% - 80px);
}

.upload-right-section .file svg {
  margin: 0px 20px;
  min-width: 18px;
  font-size: 20px;
  font-weight: 700;
}
